<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShopCartTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7462BCA41F19BEA200C6E00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7462BCBD1F19BEA300C6E00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7462BCC81F19BEA400C6E00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
